body {
  background: #DAEFEB;
}

#travelApp {
  width: 414px;
  height: 800px;
  background-color: #F9F9F9;
  margin: 30px auto 0;
  border-radius: 48px;
}

#topBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 48px 32px 0;
}

#profilePic {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 6px solid white;
  box-shadow: 0 12px 24px rgba(0,0,0,.1);
}

#notification {
  display: inline-block;
  width: 52px;
  height: 52px;
  box-shadow: 0 12px 24px rgba(0,0,0,.1);
  border-radius: 100%;
}

#notification img {
  position: relative;
  top: 14px;
  left: 14px;

}
